@charset "utf-8";

/*視窗背景色設定*/
body{    
    /*background-color: #fbf9cc;
    background-image: url(../images/bg.png);
    background-repeat: repeat-x; */

    background: #fbf9cc url(../images/bg.png) repeat-x;

    /* background-position: right top; */
    /* background-position: 50px 50px; */
    /* background-position: 20% 10%; */

    /* background-position: 0 100px; */
    /* background-position: 100px; */
}


/*連結顏色設定*/
/* a:link{
    color: green;
}

a:visited{
    color: orange;
}

a:hover{
    background-color: palevioletred;
}

a:active{
    color: black;
} */

a{
    color: red;
}


/*頁首,導覽,頁尾的共通設定*/
header, nav, footer{
    text-align: center;
}
/*導覽樣式設定*/
.menu{
    margin-left: -2.5em;
}

.menu li{
    list-style-type: none;
    /* border: 1px solid red; */

    display: inline-block;
    width: 200px;
    margin: 0 10px;
    /* padding: 10px;
    border-radius: 10px;
    background-color: #6fbb9a; */
}

.menu li a{
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #6fbb9a;
    display: block;
    border-radius: 10px;
}


/*頁面標題設定*/
@font-face{
    font-family: PixelifySans;
    src: url(./PixelifySans-VariableFont_wght.ttf);
}


h1{
    color: white;
    /* background-color: #59a986; */
    
    width: 300px;
    border-radius: 50%;

    border: 5px solid #95dbbd;
    padding: 30px;
    box-sizing: border-box;
    margin: 40px auto;
    font-size: 300%;
    line-height: 1;
    font-family: PixelifySans;
    text-shadow: 0 0 5px black;
    box-shadow: 0 0 10px black;

    background: linear-gradient(to bottom, #6eba99, #4b9e7a);
}


/*次標題設定*/
h2{
    color: #76bd9b;
    padding: 10px;
    border: 1px dotted #76bd9b;
    border-left: 10px solid #d0e35b;
    border-radius: 10px 0 0 10px;
}

/*小標題設定*/
h3{
    color: #ff705b;
    background-color: #fbf9cc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px #eeb3aa inset;
}

/*內容區塊邊框設定*/
div.content{
    background-color: #fff;
    width: 960px;
    border: 1px solid #f7c7a3;
    padding: 40px 80px;
    box-sizing: border-box;
    margin: 30px auto;
}


/*「更多介紹」連結設定*/
.more{
    text-align: right;
}

.more::after{
    content: url(../images/ico_arrow.png);
    margin-left: 5px;
    vertical-align: middle;
}


/*連結圖示設定*/
a[href^="mailto://"]::after{
    content: url(../images/ico_mail.png);
    margin-left: 5px;
    vertical-align: middle;
}

a[href*="tcnr"]::after{
    content: url(../images/ico_blank.png);
    margin-left: 5px;
    vertical-align: middle;
}


/*區塊間分隔*/
/* section + section{
    margin-top: 80px;
}

section section{
    margin-top: 0;
} */

div.content > section ~ section{
    margin-top: 80px;
}

/* div.contnet > section + section{
    margin-top: 80px;
} */

/*文繞圖設定*/
.imgL{
    float: left;
    margin-right: 20px;
}

.imgR{
    float: right;
    margin-left: 20px;
}

.clear{
    clear: both;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

/*圓形圖片設定*/
.imgRad{
    border-radius: 50%;
    border: 1px solid black;
}

/*表格設定*/
table{
    width: 100%;
    border: 2px solid #f7c7a3;
    margin-bottom: 30px;
    border-collapse: collapse;
    border-spacing: 10px;
}

th, td{
    border: 1px solid #f7c7a3;
    padding: 10px 20px;
}

th{
    background-color: #FFeeee;
    text-align: left;
    width: 10em;
}

table caption{
    margin-bottom: 10px;
}

/*表單輸入框設定*/
table input[type="text"],
table input[type="email"],
table textarea{
    border: 1px solid #cccccc;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    font-size: 1em;
}

table input[type="text"]:focus,
table input[type="email"]:focus,
table textarea:focus{
    background-color: yellow;
    border: 2px solid red;
    border-radius: 10px;
    outline: none;
}

/*按鈕設定*/
.btns{
    text-align: center;
}

.btns input{
    width: 200px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #f7c7a3;
    border-radius: 10px;
    font-size: 1em;
    margin: 0 10px;
}

.btns input:hover{
    background-color: #f6d9c9;
}